### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule profesjonalna-firma-porzadkowa /
RewriteRule oproznianie-mieszkan oproznianie-mieszkan
RewriteRule likwidacja-mieszkan liquidation-apartments
RewriteRule sprzatanie-po-pozarach sprzatanie-po-pozarach
RewriteRule wywoz-strych-mebli wywoz-strych-mebli
RewriteRule wszystko-czego-potrzebujesz wszystko-czego-potrzebujesz
RewriteRule cennik cennik
RewriteRule kontakt kontakt